# Python virtual environments
.docs/tools/venv/
**/venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Python distribution / packaging
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
